<html>
    <head>
        <title>P2P Video Chat</title>
        <link rel="stylesheet" href="mycss.css">
    </head>
    <body>
        <header>
            <div class="conteiner">
                <nav>
                    <h1>P2P Video Chat</h1>

                    <ul>
                        <li><a href="/">Ana sayfa</a></li>
                        <li><a href="/odaolustur">Chat Odası</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="home">
            <img src="webrtc.png" alt="Webrtc Mimarisi">
            <br>
            <hr>
            <a href="/odaolustur"><button class="button" type="button">Oda Oluştur</button></a>
            <br>
        </div>


        <div class="conteiner">
            <footer>
                <ul>
                    
                    <li><a href="#">Utku Dişcioğlu</a></li>
                    <li><a href="#">161005059</a></li>
                    <li><a href="#">NÖ</a></li>
                    <li><a href="pay2utku@gmail.com">pay2utku@gmail.com</a></li>

                </ul>
            
            </footer>
        </div>
        
    </body>
</html>